@import 'bourbon';
@import 'neat';
//Portfolio item
.ig-portfolio {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    .image {
        display: inline-block;
        overflow: hidden;
        border-radius: 2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        margin: 10px 0;
        transition:all 0.3s ease;
        &:hover {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            -khtml-opacity: 0.8;
            opacity: 0.8;
        }
        &.left {
            width:33.3333333333%;
            float:left;
            margin: 10px 10px 10px 0;
        }
    }
    .text {
        display: block;
        clear: right;
    }
    .title h2 {
        display: inline-block;
        clear: right;
        padding: 0 0 4px 0;
        margin: 0 0 4px 0;
    }
    .meta {
        font-size: 14px;
        padding: 4px 0 10px 0;
        color: #888;
        clear: both;
        .cat-name {
            &:before {
                content:"·";
                margin: 0 4px;
            }
        }
    }
}

//Shortcodes
.ig-project-details {
    .customer,
    .project,
    .website {
        display: block;
        border-bottom:1px dotted #dedede;
        padding: .5em 0;
    }
    .cat-name {
        display: block;
    }
    .cat-title {
        margin-top:10px;
        font-weight: bold;
        display: block;
    }
    .categories {
        li {
            display: inline-block;
            margin-top:5px;
            margin-bottom: 5px;
            padding-top:0;
            padding-bottom: 0;
        }
    }
}
.ig-portfolio-gallery {
    @include outer-container;
    .gallery-image{
        clear: both;
        @include transition (all 0.3s ease);
        &:hover {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            -khtml-opacity: 0.8;
            opacity: 0.8;
        }
    }
    .title {
        clear: both;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 13px;
        padding: 5px;
        background: #fff;
        border:1px solid #e5e5e5;
        text-decoration: none;
        box-shadow: none;
        a {
            color:#999;
            font-weight: normal;
            text-decoration: none;
            box-shadow: none;
            &:hover, &:focuds {
                color:#666;
                font-weight: 300;
                text-decoration: none;
                box-shadow: none;
            }
        }
    }
    .gallery-project {
        @include span-columns(3);
        @include omega(4n);
        margin-bottom: 15px;
    }
}
/*pagination*/
.ig-potfolio-page ul.page-numbers {
    background: #fff;
    list-style:none;
    margin: 10px 0;
    padding: 0;
    display: inline-block;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-left: none;
    border-radius: 2px;
    li {
        display: inline-block;
        float: left;
        padding: .2em .8em;
        margin: 0;
        border-left: 1px solid #dedede;
        border-bottom: none;
        border-top: none;
        border-right:none;
        a {
            border:0;
            padding:0;
            margin: 0;
            background: none;
            text-shadow: none;
            box-shadow: none;
            &:hover, &:focus,&.current {
                @extend a;
            }
        }
    }
}

/*widget*/
.ig-portfolio-project {
    .project-date {
        font-size: .8em;
        color: #888;
        &:before {
            content:"·";
            margin: 0 2px;
        }
    }
}

/*responsive*/
@media screen and (max-width: 35.5em) {
    .ig-portfolio-gallery .gallery-project {
        width:100%;
        clear:both;
    }
    .ig-portfolio .image.left {
        width:100%;
        clear: both;
        margin: 10px 0;
    }
}